{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="{% static 'classcss/edit.css' %}">
</head>
<body class="bg-gray-100">
    <header class="">
        <nav class="p-6 flex justify-between bg-gray-700">
            <div>
                <h1 class="text-3xl text-orange-500">Edit Your Task</span></h1>
            </div>
            <div>
                <div class="flex">
                    {% if request.user.is_authenticated %}
                        <a href="#" class="m-3 text-xl text-orange-500">Completed</a>
                        <a href="{% url 'home:logout' %}" class="m-3 text-xl text-orange-500">Logout</a>
                    {% else %}
                        <a href="{% url 'home:login' %}" class="m-3 text-xl text-orange-500">Login</a>
                        <a href="{% url 'home:signup' %}" class="m-3 text-xl text-orange-500">SignUp</a>
                    {% endif %}
                    
                </div>
            </div>
        </nav>
    </header>
    <section class="upper-edit-section">
        <div class="upper-div py-6 bg-gray-300">
            <div class="text-center mid-div">
                <h1 class="text-4xl text-orange-500 py-4 my-3">{{classes}}</h1>
                <h2 class="text-3xl text-cyan-700 py-4 my-3">Tutor : {{user}}</h2>
                <form method="post" action="" class="text-center">
                    {% csrf_token %}
                    <input type="text" value="{{task}}" class="py-4 px-2 rounded-xl block edit-input" name="edit">
                    <input type="submit" class="block p-4 bg-orange-400 rounded-xl text-white text-xl edit-submit-input my-3 cursor-pointer">
                </form>
            </div>
        </div>
    </section>
    
</body>
</html>